<!Doctype html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="x-ua-compatible" content="x-ua-compatible" />
        <title>ray</title>
        <link rel="stylesheet" type="text/css" href="/css/screen.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-blue.min.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    </head>
    <body class="index">
        <div class="header-image">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="mdl-grid">
            <div class="block-container mdl-cell section--center mdl-shadow--2dp">
                {{ content }}
            </div>
        </div>
    </body>
</html>
